*.iml
*/.gradle
*/local.properties
*/.idea/*
*/.idea/workspace.xml
*/.idea/libraries
*/.DS_Store
*/build
*/captures
*.externalNativeBuild

protocol/msg_pb2.py
protocol/msg_pb2.pyc
__pycache__

*.swp
*.db

*.toc
*.log
*.aux
*.nav
*.snm
*.out
*.bbl
*.blg
*.synctex.gz
*.out
*.~lock*
*.vrb
pres.tex
guide.tex
