*.iml
*/.gradle
*/local.properties
*/.idea/*
*/.idea/workspace.xml
*/.idea/libraries
*/.DS_Store
*/build
*/captures
*.externalNativeBuild

protocol/msg_pb2.py
protocol/msg_pb2.pyc
protocol/__pycache__

*.swp

*.toc
*.log
*.aux
*.nav
*.snm
*.out
*.bbl
*.blg
*.pdf
*.synctex.gz
