<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="verteiltesysteme.penguard">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/> -->
    <!-- <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/> -->

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/penguard_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GLoginActivity" />
        <activity android:name=".lowLevelNetworking.UDPTesting" />
        <activity android:name=".GGroupJoinActivity" />
        <activity android:name=".GPenguinSearchActivity" />
        <activity android:name=".GPenguinNameActivity" />
        <activity android:name=".GGuardActivity" />

        <service
            android:name=".guardianservice.GuardService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".Settings.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".GGroupMergeRequestsActivity" />
        <activity android:name=".GPenguinDetailActivity" />
        <activity android:name=".GCalibrationActivity" />
        <activity android:name=".HowToActivity" />
        >>>>>>> refs/remotes/origin/devel
        <activity android:name=".GGroupOverviewActivity"></activity>
    </application>

</manifest>